html {
  scroll-behavior: smooth;
}


body {
  background: linear-gradient(45deg, #0b1416, #11292c, #1a3d41, #0f0f0f);
  background-size: 300% 300%;
  animation: gradientAnimation 10s ease infinite;
}


@keyframes gradientAnimation {
  0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  
  .imgMain {
    height: 35em;
    max-width: 100%;
    object-fit: cover; /* Asegura que las imágenes mantengan proporción */
  }
  
  @media (max-width: 768px) {
    .imgMain {
      height: 20em; /* Reduce el tamaño en pantallas más pequeñas */
    }
  }
  /* Estilo para el navbar */
.navbar-fixed {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000; /* Siempre encima */
}

.divNav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

li {
  padding-left: 1em;
}

a {
  text-decoration: none;
  color: white;
}

/* Botón hamburguesa (solo visible en móviles) */
.hamburger-menu {
  display: none;
  font-size: 1.5rem;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  height: 1.5em;
}

@media (max-width: 768px) {
  .hamburger-menu {
    display: block;
  }

  .nav-links {
    display: none; /* Oculta el menú inicialmente */
    flex-direction: column;
    position: absolute;
    top: 100%; /* Aparece debajo del navbar */
    left: 0;
    width: 100%;
    background: #333; /* Fondo oscuro para el menú */
    padding: 1rem 0;
    z-index: 999;
  }

  .nav-links.open {
    display: flex; /* Muestra el menú al abrir */
  }

  ul {
    flex-direction: column; /* Alinea los enlaces verticalmente */
    align-items: flex-start;
    gap: 0.5rem;
  }

  li {
    padding: 0.5rem 1rem;
  }
}



 /* footer */
 /* Asegura que el footer esté en el fondo de la página */
.footer {
  background-color: #000; /* Fondo negro */
  color: white; /* Texto blanco */
  padding: 10px 0;
  bottom: 0; /* Asegura que quede al fondo */
  left: 0;
  width: 100%;
  z-index: 1000; /* Para asegurarnos de que quede encima del contenido */
}


/* Flexbox para distribuir los elementos dentro del footer */
.footer .container {
  display: flex;
  justify-content: space-between; /* Distribuye los elementos a los extremos */
  align-items: center; /* Centra verticalmente los elementos */
  padding: 0 20px; /* Espacio a los lados */
}

.footer_copyR {
  padding: 0 2em;
  text-align: left; 
  flex: 1; /* Toma el espacio disponible */
}

.footer_copyR.center {
  text-align: center; /* Centra el texto */
  flex: 1;
}

.footer_media {
  display: flex;
  
  padding: 0 2em;
  gap: 10px; /* Espaciado entre los iconos */
  justify-content: flex-end; /* Alinea las redes sociales a la derecha */
}

.footer_media a {
  display: inline-block;
}

.footer_media img {
  width: 50px;
  height: 50px;
}

.bg-darkk {
  background-color: #000;
}

/* animacion skills */
@keyframes fadeInUpSkills {
  from {
    opacity: 0;
    transform: translateY(20px); /* Comienza más abajo */
  }
  to {
    opacity: 1;
    transform: translateY(0); /* Llega a su posición original */
  }
}

/* Sección Skills */


/* Animación para la sección Skills */
@keyframes fadeInUpSkills {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Sección Skills */
.skills-section {
  padding: 1rem 0; /* Reduce el espacio de padding */
  color: #ffffff;
  width: 100%;
  min-height: 30vh;
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  animation: fadeInUpSkills 1.5s ease-in-out; /* Animación para la sección */
}

/* Separador de Skills */
.skills-separator-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

.skills-separator {
  width: 80%;
  height: 2px;
  background-color: rgba(180, 180, 180, 0.3);
  opacity: 1;
  margin-bottom: 1rem;
}

/* Contenedor principal de Skills */
.skills-container-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  animation: fadeInUpSkills 1.5s ease-in-out; /* Animación */

  padding: 1rem; /* Reduce el padding dentro del contenedor */
}

/* Título de la sección */
.skills-title {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 1.5rem;
}

/* Contenedor de los íconos de Skills */
.skills-container {
  display: flex;
  flex-wrap: nowrap; /* Esto evita que las skills pasen a una nueva fila */
  gap: 1rem;
  justify-content: center;
  align-items: center;
}


.skill-item {
  width: 80px; /* Ajusta según el tamaño deseado */
  height: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0.5rem;
  transition: transform 0.3s ease;
}

.iconSkills {
  width: 4em; /* Ajusta el tamaño de los íconos si es necesario */
  height: 4em;
  margin: 0.5rem; /* Ajusta el margen entre íconos */
  transition: transform 0.3s ease;
}

/* Efecto de hover */
.skill-item:hover {
  transform: scale(1.1);
}

.skill-item:hover .iconSkills {
  transform: scale(1.2);
}

.skills-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
}

.skill-item {
  flex: 1 1 100px; /* Asegura que las habilidades se ajusten dinámicamente */
}

@media (max-width: 768px) {
  .skills-container {
    gap: 0.5rem; /* Reduce el espacio entre íconos */
  }
}
.skills-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr); /* 6 columnas en la primera fila */
  gap: 20px; /* Espaciado entre los elementos */
  justify-content: center; /* Centrar la cuadrícula horizontalmente */
  text-align: center;
}

.skill-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.iconSkills {
  width: 60px; /* Ajusta el tamaño del ícono */
  height: 60px;
  object-fit: contain;
}

.skill-name {
  margin-top: 8px;
  font-size: 14px;
  color: #555; /* Color del texto */
}

/* Responsive para pantallas pequeñas */
@media (max-width: 768px) {
  .skills-container {
    grid-template-columns: repeat(3, 1fr); /* 3 columnas en pantallas pequeñas */
  }
}


/* Nombre de la habilidad */
.skill-name {
  display: block;
  margin-top: 0.5rem;
  font-size: 0.9rem;
  color: #ffffff;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.skill-item:hover .skill-name {
  opacity: 1;
}



/* seccion about */

/* Animación para la sección About y sus elementos */
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px); /* Comienza más abajo */
  }
  to {
    opacity: 1;
    transform: translateY(0); /* Llega a su posición original */
  }
}

/* Animación para el separador */
@keyframes separatorAnimation {
  0% {
    width: 0%;
    opacity: 0;
  }
  100% {
    width: 80%;
    opacity: 1;
  }
}

/* Sección About */

.about-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

@media (max-width: 768px) {
  .about-container {
    flex-direction: column;
    text-align: center;
  }

  .about-content {
    margin-left: 0;
  }
}

.about-section {
  opacity: 0;
  transform: translateY(30px);
  transition: opacity 0.8s ease, transform 0.8s ease;
}

.about-section.visible {
  opacity: 1;
  transform: translateY(0);
}


/* Separador arriba con animación */
.about-separator-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

.about-separator {
  width: 80%;
  height: 2px;
  background-color: rgba(180, 180, 180, 0.3); /* Color claro para que sea sutil */
  opacity: 1;
  margin-bottom: 1rem;
}

/* Contenedor de la sección About */
.about-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
  width: 100%;
  animation: fadeInUp 1.5s ease-in-out; /* Animación para el contenedor */
}

/* Imagen redondeada con animación */
.about-profile .about-image {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  border: 4px solid rgba(180, 180, 180, 0.3);
  animation: fadeInUp 1.5s ease-in-out; /* Animación para la imagen */
}

/* Contenido de la sección */
.about-content {
  max-width: 650px;
  margin-left: 2rem;
  flex: 1;
  animation: fadeInUp 1.5s ease-in-out; /* Animación para el texto */
}

/* Títulos y párrafos */
.about-title {
  font-size: 2rem;
  margin-bottom: 1rem;
  text-align: center;
}

.about-intro,
.about-education,
.about-experience,
.about-goals {
  margin-bottom: 1rem;
  font-size: 1.1rem;
  line-height: 1.6;
}



/* iconos about */ 

.about-links {
  display: flex;
  gap: 1rem;
  justify-content: center;
  margin-top: 1.5rem;
}

.social-icon {
  font-size: 2.5rem;
  color: #000000; /* Color para LinkedIn */
  transition: transform 0.3s;
}
.social-icon-git {
  font-size: 2.5rem;
  color: #000000; /* Color para LinkedIn */
  transition: transform 0.3s;
}

.social-icon:hover {
  transform: scale(1.1);
  color: #0077b5; /* Color de hover */
}

.social-icon-git:hover {
  transform: scale(1.1);
  color: #e4e4e4; /* Color de hover */
}

/* footer icons  */
.social-icon-footer {
  font-size: 2.5rem;
  color: #ececec; /* Color para LinkedIn */
  transition: transform 0.3s;
}
.social-icon-whatsapp-footer:hover{
  transform: scale(1.1);
  color: #0ab304; /* Color de hover */
}

.social-icons-fclk-footer:hover {
  transform: scale(1.1);
  color: #0077b5; /* Color de hover */
}
.social-icon-git-footer:hover {
  transform: scale(1.1);
  color: #6b6b6b; /* Color de hover */
}

.download-button {
  padding: 0.5rem 1.2rem;
  background-color: #4CAF50; /* Verde para el botón */
  color: white;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s;
}

.download-button:hover {
  background-color: #45a049;
}


/* seccion proyectos  */

.projects-separator {
  width: 80%;
  height: 2px;
  background-color: rgba(180, 180, 180, 0.3); /* Color claro para que sea sutil */
  opacity: 1;
  margin-bottom: 1rem;
}
.projects-separator-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}
/* Estilos para la sección de proyectos */

.projects-container {
  display: flex;
  flex-direction: column;
  gap: 40px; /* Espaciado entre tarjetas */
  padding: 0 20px; /* Espaciado interno en los lados */
}

.project-card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  background: linear-gradient(45deg, #314c4f, #3f6867);
  border: 1px solid rgba(255, 255, 255, 0.15);
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
  color: white;
  transition: transform 0.3s, box-shadow 0.3s;
}

.project-card-mobile {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  background: linear-gradient(45deg, #314c4f, #3f6867);
  border: 1px solid rgba(255, 255, 255, 0.15);
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
  color: white;
  transition: transform 0.3s, box-shadow 0.3s;
}


.project-card img {
  max-width: 100%;
  border-radius: 8px;
}

.project-card-content {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: justify;
}


.project-card:hover {
  transform: scale(1.02); /* Pequeño aumento al pasar el mouse */
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.4); /* Sombra más pronunciada */
}

.project-card img {
  border-radius: 8px;
}


.project-card:nth-child(even) {
  grid-template-columns: 1fr 1fr; /* Mantiene el diseño en dos columnas */
}

.project-card img {
  max-width: 100%;
  border-radius: 8px;
  justify-self: center; /* Centra horizontalmente la imagen */
}



.project-card a {
  color: #00aaff;
  text-decoration: none;
  margin-top: 10px;
}

.project-card a:hover {
  text-decoration: underline;
}

.projects-section {
  padding: 40px 20px; /* Espaciado interno general */
  justify-items: center;
}
.projects-section h2 {
  padding: 40px 0px; /* Espaciado interno general */

}


@media (max-width: 1068px) {
  .project-card {
    flex-direction: column; /* Cambia la disposición para pantallas móviles */
  }

  .project-card-content {
    text-align: center; /* Centra el texto si es necesario */
  }
}



/*  seccion contacto  */

/* separador contacto */

.contacto-separator-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

.contacto-separator {
  width: 80%;
  height: 2px;
  background-color: rgba(180, 180, 180, 0.3); /* Color claro para que sea sutil */
  opacity: 1;
  margin-bottom: 1rem;
}


.contact-section {
  background: #1a3d41; /* Fondo oscuro con un tono suave */
  padding: 50px 30px; /* Un poco más de padding para hacerlo más grande */
  max-width: 600px; /* Aumentamos el ancho del formulario */
  margin: 0 auto;
  border-radius: 8px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2); /* Sombra suave */
  color: #fff;
}
.contact-section {
  max-width: 100%;
  padding: 20px;
  margin-bottom: 5em;
}

@media (min-width: 768px) {
  .contact-section {
    max-width: 600px;
    padding: 50px;
  }
}



.contact-section h2 {
  text-align: center;
  font-size: 32px; /* Un título más grande */
  margin-bottom: 25px; /* Aumentamos el espacio debajo */
  font-family: 'Arial', sans-serif;
  color: #ffffff;
}

.form-group {
  margin-bottom: 25px; /* Más espacio entre los campos */
}

.form-group label {
  display: block;
  font-weight: 600;
  font-size: 18px; /* Etiquetas más grandes */
  margin-bottom: 8px;
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 15px; /* Más padding en los campos */
  border-radius: 8px;
  border: 1px solid #3e5a61; /* Borde suave */
  background-color: #2b4349; /* Fondo más oscuro para los campos */
  color: white;
  font-size: 16px; /* Un tamaño de fuente más grande */
}

.form-group input:focus,
.form-group textarea:focus {
  outline: none;
  border-color: #42a5f5; /* Azul suave para el borde cuando está en foco */
}

.form-group textarea {
  resize: vertical;
  min-height: 120px;
}

button {
  display: block;
  width: 100%;
  padding: 15px;
  background-color: #007BFF; /* Azul claro */
  color: #fff;
  border: none;
  border-radius: 8px;
  font-size: 18px;
  cursor: pointer;
  font-weight: 600;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0056b3; /* Azul más oscuro cuando se pasa el mouse */
}

.status-message {
  text-align: center;
  margin-top: 25px;
  font-size: 18px;
  font-weight: bold;
  color: #42a5f5; /* Azul para resaltar el mensaje */
}

.project-card {
  grid-template-columns: 1fr;
}

@media (min-width: 768px) {
  .project-card {
    grid-template-columns: 1fr 1fr;
  }
}


/* carrousel proyectos */


.image-carousel {
  position: relative;
  width: 100%; /* Ajustar según el diseño */
  height: 300px; /* Ajustar según el diseño */
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.carousel-image {
  max-width: 100%;
  max-height: 100%;
  border-radius: 8px;
  object-fit: cover;
}

.carousel-btn {
  font-size: 2em;
  padding: 10px;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.carousel-btn.flipped {
  transform: rotate(180deg); /* Esto invierte los botones */
}


.carousel-btn.prev {
  left: 30%; /* Posición de la flecha izquierda más cerca del centro */
  
  width: 15em;
}

.carousel-btn.next {
  right: 30%; /* Posición de la flecha derecha más cerca del centro */
  width: 15em;
}

.carousel-btn:hover {
  background: rgba(0, 0, 0, 0.8);
}
